html {
	position: relative;
	min-height: 100%;
}

body {
	padding-top: 50px;
	margin-bottom: 60px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #f5f5f5;
	display: block;
}

.text-muted {
	margin: 20px 0;
	text-align: center;
}

.bs-docs-section {
	margin-bottom: 60px;
}
		
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
	color: #fff;
	background-color: #428bca;
}

th, td {
	text-align:center;
}
